<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GTR Olho Vivo MES
      <button ion-button (click)='goPush("tela");'>PushTest</button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      Notificações
    </ion-list-header>

    <ion-item-sliding *ngFor="let msg of items?.reverse()" (click)="msg.toggleState()">
      <!--[@itemState]="msg.state" -->
      <ion-item text-wrap>
        <h2>{{msg.title}}</h2>
        <p>{{msg.note}}</p>
        <ion-note item-end>
          {{msg.timestamp}} <!-- | amLocale:'pt-br' | amTimeAgo -->
        </ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="deleteMsg(msg)">Apagar</button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>